@import '../../../styles/settings.scss';

.carousel {
  margin-bottom: 24px;
}
.slide {
  &_image {
    object-fit: cover;
  }

  &_title {
    font-size: $base-size * 4;
  }

  &_subtitle {
    font-size: $base-size * 2;
  }
}
