@import '../../../styles/settings.scss';

.root {
  background-color: $bg-footer;

  h5 {
    color: $footer-header-color;
  }

  P {
    color: $footer-text-color;
    margin-bottom: 10px;
  }

  .social_icons {
    a {
      width: 40px;
      height: 40px;
      color: $footer-text-color;
      border: 1px solid white;
      border-radius: 50%;
      transition: $transition;
    }

    a:hover {
      color: $text-color-white;
      border-color: $main-color;
    }
  }

  .copyright {
    border-top: 1px solid rgba(177, 177, 177, 0.1);
  }
}
