@import '../../../styles/settings.scss';

.root {
  min-height: 800px;

  .header {
    background-color: $bg-grey;
    padding: 40px;
  }

  .image {
    width: 150px;
    height: 100px;
    margin: 0;
    object-fit: contain;
  }

  .right_box {
    background-color: $bg-grey;
    color: black;
    border: 1px dashed #d7d7d7;

    .summary_title {
      border-bottom: 1px solid rgba(7, 7, 7, 0.1);
    }

    .shipping_form {
      border-bottom: 1px solid rgba(7, 7, 7, 0.1);
    }
  }
}
