@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
  font-size: $base-size * 1.2;
  text-transform: uppercase;
  color: $main-color;
  background-color: $bg-white;
  margin: 24px 0 24px 0;

  .search_input {
    border-radius: 0;
  }
}

.cart_icon {
  text-decoration: none;

  .cart_quantity {
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: $text-color-white;
    background-color: $main-color;
    border-radius: 50%;
  }
}
