@import '../../styles/settings.scss';

.card_wrapper {
  border: none;
}

.categories_text {
  font-size: 13px;
  opacity: 0.7;
  margin: 0;
}

.stars_fill {
  color: $stars-color;
}

.stars {
  color: rgb(143, 143, 143);
}
