@import '../../../styles/settings.scss';

.products_root {
  padding: 48px 0 48px 0;

  width: 100%;
  background-color: $bg-grey;
}
#tab {
  color: black;
  background-color: black;
}

.tab {
  color: black;
  background-color: black;
}
