// general-settings
$base-size: 12px;

// general-colors
$main-color: #445f84;
$bg-white: #ffffff;
$bg-grey: rgb(238, 238, 238);

// text-colors
$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-main: #445f84;
$price-color-new: #ef837b;
$price-color-old: #ccc;
$warning-text-color: #ef837b;

// stars rating color
$stars-color: #fcb941;

// label colors
$label-sale: #ef837b;
$label-top: #7dd2ea;
$label-out: #ccc;

// transition
$transition: all 0.5s ease;

// footer
$bg-footer: #333;
$footer-header-color: #ffffff;
$footer-text-color: #777;
