// general-settings
$base-size: 12px;

// general-colors
$main-color: #445f84;
$bg-white: #ffffff;
$bg-grey: rgb(238, 238, 238);

// text-colors
$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-main: #445f84;
